!!! 5

%html(lang="en-US")
  %body
    %p Hi #{@invitation.recipient_name},
    %p You are invited to join Myflix by #{@invitation.inviter.full_name}. Here is the message:
    %p= @invitation.message
    %p= link_to "Click here to accept this invitation", register_with_token_url(@invitation.token)
