%section.invite.container
  .row
    .span10.offset1
      =bootstrap_form_for @invitation, html: {class: 'invite'}  do |f|
        %header
          %h1  jalil Invite a friend to join MyFlix!
        %fieldset
          =f.text_field :recipient_name, label: "Friend's Name"
          =f.text_field :recipient_email, label: "Friend's Email"
          =f.text_area :message,rows:'6', value: "Please join this awesome site!", label: "Invitation Message"
        %fieldset.action
          %input(type="submit" value="Send Invitation" class="btn")
