%html(lang="en-US")
  %body
    %p Hello #{@invitation.recipient_name.capitalize},
    %p Your friend #{@invitation.sender.full_name} has invited you to join MyFlix! 
    %p Your special registration link is http://localhost:3000#{invite_register_path(@invitation.token)} 
