%html(lang="en-US")
  %body
    %p Hello #{@user.full_name}
    %p Click on the link to reset your password:
    %p 
      =link_to " Click here to changed  your password",  "http://localhost:3000/password_reset/#{@user.password_reset_token}" 
